---
---

<p class="container-logo">
	<img alt="3K" src="/assets/images/logo.webp" width="100" />
	Triskel
</p>

<style>
	.container-logo {
		font-family: var(--theme-font-family-serif);
		font-size: var(--font-size-lg);
		font-weight: 400;
		font-style: italic;
		color: inherit;
	}
	.container-logo:hover {
		text-decoration: underline;
		cursor: pointer;
	}
</style>
