---
---

<div class="container-logo">
	<div>
		<img alt="logo" src="logo.webp" width="100" />
	</div>
	<div>
		<p>Triskel</p>
	</div>
</div>

<style>
	.container-logo {
		font-family: var(--theme-font-family-serif);
		font-size: var(--font-size-md);
		color: inherit;
	}
	.container-logo:hover {
		text-decoration: underline;
		cursor: pointer;
	}
</style>
